# Django Settings
DJANGO_SECRET_KEY=your-super-secret-key-change-in-production
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# PostgreSQL Database
DB_NAME=stegohide_db
DB_USER=postgres
DB_PASSWORD=your_db_password
DB_HOST=127.0.0.1
DB_PORT=5432

# Cloudinary
CLOUD_NAME=your_cloud_name
CLOUD_API_KEY=your_api_key
CLOUD_API_SECRET=your_api_secret

# Email / OTP
EMAIL_USER=mkiranmkiran306@gmail.com
EMAIL_PASS=dymdimfxpqvgcbew

# Admin Credentials
ADMIN_USERNAME=poorvaj
ADMIN_PASSWORD=P29
